body {
    background-image: url(Assets/travel.jpg);
    background-size: 2000px;
}

.form-group {
    padding-left: 27%;
}

.form-horizontal {
    color: rgb(153 174 148);
    padding-top:40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(153 174 148 / 0.91);
    color: black;
}

p {
    text-align: center;
}

a {
    color: white;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
}

.table th, .table td {
    text-align: center;
}


a:hover {
color: white;
}

#buttons a:hover btn-cirlce {
    color: rgb(255 255 255 / 0.55);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.table {
    background-color: rgb(153 174 148 / 0.91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal {
    background-color: rgb(153 174 148 / 0.91);
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 34%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
