html {
    position: relative;
    min-height: 100%;
}


body {
    background-image: url(Assets/travel.jpg);
    background-size: 2000px;
}

.container {
    display: inherit;
}

div.home {
    background-color: rgb(222 88 63 / 0.70);
    padding-bottom: 90px;
    padding-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.home {
    margin-top: -10px;
    margin-bottom: -10px;
}

p.lead {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    display: table-cell;
  word-wrap: break-word;
}


.form-group {
    padding-left: 27%;
}

.form-horizontal {
    color: rgb(153 174 148);
    padding-top:40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(153 174 148 / 0.91);
    color: black;
}

p {
    text-align: center;
}

a {
    color: white;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
    padding-bottom: 15px;
}

.table th, .table td {
    text-align: center;
}

div.buttons a {
    color: transparent;
}

div.buttons .button {
    background-color: rgb(255 255 255 / 0.35);
    margin: 15px;
    padding: 5px;
}

div.buttons :hover .button{
    opacity: 70%;
}

a:hover {
color: white;
}
 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.table {
    background-color: rgb(153 174 148 / 0.91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dl-horizontal {
    background-color: rgb(153 174 148 / 0.91);
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 34%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: absolute;
    background-color: rgb(255 255 255 / 0.46);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    left: 0;
    bottom: 0;
}

