@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We've created this app so you are able to plan trips and discover the best places to eat,<br /> 
   unique things to see, and places to stay when arriving at your destination. Create your <br />
   own personalized lists and make the most of your time exploring new places. </p>
