@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color: rgb(255 111 68 / 0.83); padding-bottom: 200px">
    <center>
        <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Traveler App</h1>

        <p class="lead" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Traveler App was created so you can plan ahead and <br />
            make the most of your time exploring new places. <br />
            Create your own personalized trips while discovering <br />
            the best spots to eat, unique things to see and where <br />
            to stay when arriving at your destination.
        </p>
        <div class="btn btn-primary btn-lg" style="background-color: rgb(153 174 148); border:none">Plan Your Trip &raquo;</div>
        <br />
        <br />
        <br />
        <br />
        <div style="padding:10px">
            <b-button class="btn btn-cirlce"><img src="~/Content/Assets/travel.jpg" style="width:300px; border-radius:50%" /></b-button>
            <b-button class="btn btn-cirlce"><img src="~/Content/Assets/travel.jpg" style="width:300px; border-radius:50%" /></b-button>
            <b-button class="btn btn-cirlce"><img src="~/Content/Assets/travel.jpg" style="width:300px; border-radius:50%" /></b-button>
        </div>
    </center>
</div>

