@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color: rgb(222 88 63 / 0.70); padding-bottom: 70px; padding-top:70px">
    <center>
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 90px;">Traveler App</h1>

        <p class="lead" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            Traveler App was created so you can plan ahead and <br />
            make the most of your time exploring new places. <br />
            Create your own personalized trips while discovering <br />
            the best spots to eat, unique things to see and where <br />
            to stay when arriving at your destination.
        </p>
        <a href="~/Trip/Create"class="btn btn-primary btn-lg" style="background-color: rgb(153 174 148); border:none">Plan Your Trip &raquo;</a>
        <br />
        <br />
        <br />
        <br />
        <div>
            <a href="~/Eat"<b-button class="btn-cirlce"><img src="~/Content/Assets/eat.jpg" style="width:300px; border-radius:50%; padding:10px" /></b-button></a>
            <a href="~/See"<b-button class="btn-cirlce"><img src="~/Content/Assets/attraction.jpg" style="width:300px; border-radius:50%; padding: 10px" /></b-button></a>
            <a href="~/Stay"<b-button class="btn-cirlce"><img src="~/Content/Assets/lodging.jpg" style="width:300px; border-radius:50%; padding: 10px" /></b-button></a>
        </div>
    </center>
</div>

