@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" style="background-color: rgb(222 88 63 / 0.70); padding-top: 130px; padding-bottom: 130px ">
    <center>\
        <h1 style="font-family: 'Syncopate', cursive; font-size: 55px; font-weight:900">Traveler App</h1>

        <p class="lead" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:500; font-size: 20px">
            Traveler App was created so you can plan ahead and <br />
            make the most of your time exploring new places.<br />
            Create your own personalized trips while discovering<br />
            the best spots to eat, unique things to see and where <br />
            to stay when arriving at your destination.
        </p>
        <a href="~/Trip/Create" class="btn btn-primary btn-lg" style="background-color: rgb(153 174 148); border:none">Plan Your Trip &raquo;</a>
        <br />
        <br />
        <br />
        <br />
        <div id="buttons">
            <a href="~/Eat" class="btn-cirlce">
                <img class="button" src="~/Content/Assets/restaurants.jpg"
                     style="width:300px; height:230px; border-radius:50%; padding:10px" />
            </a>
            <a href="~/See" class="btn-cirlce">
                <img src="~/Content/Assets/attraction.jpg"
                     style="width:300px; height:230px; border-radius:50%; padding: 10px" />
            </a>
            <a href="~/Stay" class="btn-cirlce">
                <img src="~/Content/Assets/lodging.jpg"
                     style="width:300px; height:230px; border-radius:50%; padding: 10px" />
            </a>
        </div>
    </center>
</div>



